<div class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <p *ngIf='showPassword'>{{ password }}</p>
            <button (click)='toggle()' class='btn btn-primary'>{{ showPassword ? 'Esconder Detalhes' : 'Mostrar Detalhes' }}</button>
            <ul *ngFor='let date of dates; let i = index' class='list-group'>
                <li [ngStyle]="i >= 4 && {backgroundColor: 'red'}" 
                    [ngClass]='{color: i >= 4}' class='list-group-item'>{{ date }}</li>
            </ul>
        </div>
    </div>
</div>